/* GRAPH STYLING */
.plotly-graph-div {
    text-align:center;
    height:100%;
}
.plot-container-plotly {
    text-align: center;
    height:100%;
}
.mapGraphic{
    height:50vh;
    margin-bottom: 15px;
}

#selectedYearPlot{
    height:400px;
}
