{% extends "base.html" %}
{% block unique_body %}
    <title>The Climate Crisis</title>
    <h1>The Climate Crisis</h1>
    <p>There have been 28 United Nations Climate Change Conferences (COP) as of May, 2024. Emissions goals were set for 38 developed countries since the Kyoto Protocol in 1997. 36 remained after the United States did not ratify and Canada withdrew.  </p>
    <p>At the turn of the millenium, 3 years had passed since these goals were first outlined. The Paris Agreements, agreed to in 2015 at COP 21 set out to slash emissions by 50% until 2030. The science says that is a necessity if we want to stay below <strong>1.5 °C</strong> above pre-industrial levels. That is a significant tipping point, beyond which our climate, marine and terrestrial ecosystems and human health take a significant toll.</p>
    <p style="color: 4AF626; text-shadow: none">Has that materialised?</p>
    <p>No. Below is a chart with our global emissions since the dawn of the new millenium. I've marked when the Paris Agreement happened with a vertical line.</p>
    <h2>Here are our emissions since then</h2>
    <div class="climateCrisisPlots">
        {{ totalEmissionsGraph }}
    </div>
    <p style="color: 4AF626; text-shadow: none">Seems like we finally got on track in 2020. No?</p>
    <p>Yes, a global pandemic where everyone is inside will consequently reduce our consumption and emission.</p>
    <p>So, there's not much time to correct course before we reach a tipping point. If you are reading this far in the future, it might already be too late.</p>
    <h2>Here's what the per person emissions look like globally</h2>
    <div class="climateCrisisPlots">
        {{ capitaEmissionsGraph }}
    </div>
    <p>It's a little more inspiring. Not by much however, the goal is still 50% reduced emissions, assuming that there won't be population increase in the context of this graph. With a steady population increase, that number needs to be even lower.</p>
    <p>But, there is hope. We can still make a difference. We can still change our ways. We can still save our planet. This is why we must continue advocating, continue making change. We cannot sit around, business as usual and expect our leaders to fix things without our demanding so.</p>
    <div class="terminalBtnContainer">
        <a class="terminalBtn" href="/weaponsTransfers">Global Arms Transfers</a>
        <a class="terminalBtn" href="/gap">The Gap</a>
        <a class="terminalBtn" href="/about">About this site</a>
    </div>
{% endblock %}