{% extends "base.html" %}
{% block unique_body %}
<link type="texts/css" rel="stylesheet" href="static/shell.css"/>
<title>{{ year }}: Global Weapons Transfers</title>
<h1>The year is {{ year }}</h1>
<div class="pageContent">
    <h2>There were {{ transferAmount }} major weapons transfers that year.</h2>
    <br/>
    <p>And this isn't even the full extent of how elaborate and massive the military industry is. These {{ transferAmount}} transfers of weapons amount to {{ sipriTIV }} SIPRI TIV units of value.</p>
    <br>
    <p>A SIPRI TIV (trend-indicator value) unit is used by the <a href="https://www.sipri.org/research">Stockholm Interational Peace Research Institute</a> to measure military capability instead of simply financial value.</p>
    <br/>
    <p>To put that into perspective, in {{ year }}, different countries transferred {{humveeTIV}} <a href="https://en.wikipedia.org/wiki/Humvee">Humvees</a> or {{AH1ZTIV}} <a href="https://en.wikipedia.org/wiki/Bell_AH-1Z_Viper">AH-1Z Viper attack helicopters</a> or {{hellfireTIV}} <a href="https://en.wikipedia.org/wiki/AGM-114_Hellfire">Hellfire missiles</a> or {{reaperTIV}} <a href="https://en.wikipedia.org/wiki/General_Atomics_MQ-9_Reaper">Reaper attack drones</a> worth of military technology. </p>
    <br/>
    <p>No matter how you put, or what year you choose, the amount is incredibly hard to comprehend.</p>
    <br/>
    <p>Yet still, consider just how limited this map is. This map only represents <strong>international arms transfers</strong>, it has absolutely nothing to do with the vast domestic industries some countries maintain. These are also only international transfers between countries. Think about the amount of significant non-state actors, rebel militias, guerilla fighters, states that have ceased to exist and anything in between that this map would simply not have the capacity to show.</p>
    <br/>
    <h2>Here's your map.</h2>
</div>
<div id="selectedYearPlot" class="mapGraphic" style="text-align: center;">
    {{ chart }}
</div>
<div class="pageContent">
    <h2>That's not it.</h2>
    <p>You can enter another year and see this exact same comparison for any year between 1950 and 2023.</p>
    <p> Hit <strong>Enter</strong> to process the data.</p>
    <form name="yearForm" id="transfersMapForm" action="/weaponsTransfers">
        <input type="text" id="transfersMapInput" minlength="4" maxlength="4" name="year" pattern="^(19[5-9]\d|20[0-1]\d|202[0-3])$"></input>
    </form>
    <br/>
    <h2>It doesn't end there.</h2>
    <p>War is no doubt brutal for everyone involved. But its ramifications end far away from the battlefield. Consider the very hefty environmental impact of manufacturing, transferring and producing all those arms. How much steel, oil, or aluminium was used to build all this industry? How much fuel was used to keep it running?</p>
    <br/>
    <p>If you're done exploring the vast scale of our global military industrial complex. I invite you to explore the topics below, and the issues we face. You can do so by <strong>clicking</strong> on any of the three topics.</p>
    <div class="terminalBtnContainer">
        <a class="terminalBtn" href="/gap">The Gap</a>
        <a class="terminalBtn" href="/climateCrisis">The Climate Crisis</a>
        <a class="terminalBtn" href="/about">About this site</a>
    </div>
    
</div>


{% endblock %}